<!-- INCLUDE overall_header.html -->

<h1>{{ lang('TN_TITLE') }}</h1>
<p>{{ lang('TN_EXPLAIN') }}</p>

<form id="acp_tabnews" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{{ lang('TN_CONFIG') }}</legend>
		<dl>
			<dt><label>{{ lang('TN_STATUS') }}{{ lang('COLON') }}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="tn_status" value="1"
						   {{ STATUS ? 'checked' : '' }}
					/>
					{{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="tn_status" value="0"
						   {{ STATUS ? '' : 'checked' }}
					/>
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('TN_TYPE') }}{{ lang('COLON') }}</label><br/> {{
				lang('TN_TYPE_EXPLAIN') }}
			</dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="tn_type" value="1"
						   {{ TYPE ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="tn_type" value="0"
						   {{ TYPE ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="tn_code">{{ lang('ACP_TN_CODE') }}</label><br/>{{ lang('ACP_TN_CODE_EXPLAIN') }}</dt>
			<dd>
				<input type="text" name="tn_code" id="tn_code" value="{CODE}" size="20"/>
			</dd>
		</dl>
		<dl>
			<dt><label>{L_TN_FORUM7}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="tn_forum7" value="1"
						   {{ FORUM7 ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="tn_forum7" value="0"
						   {{ FORUM7 ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="webhook_url">{L_ACP_WEBHOOK}</label><br/>{L_ACP_WEBHOOK_EXPLAIN}</dt>
			<dd>
				<input type="text" name="webhook_url" id="webhook_url" value="{WEBHOOK_URL}"/>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TN_SELECT') }}{{ lang('COLON') }}</legend>
		<dl>
			<dt><label>{{ lang('TN_FACEBOOKPAGE') }}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="tn_facebookpage" value="1"
						   {{ FACEBOOKPAGE ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="tn_facebookpage" value="0"
						   {{ FACEBOOKPAGE ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="title_tab1">{L_ACP_TITLE_TAB1}</label><br/>{L_ACP_TITLE_TAB1_EXPLAIN}</dt>
			<dd>
				<input type="text" name="title_tab1" id="title_tab1" value="{TITLE_TAB1}" size="50"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="tabnews_urlpage">{{ lang('ACP_TABNEWS_URLPAGE') }}{{ lang('COLON') }}</label><br/>{{
				lang('ACP_TABNEWS_URLPAGE_EXPLAIN') }}
			</dt>
			<dd><textarea name="tabnews_urlpage" id="tabnews_urlpage" rows="3" cols="40">{TABNEWS_URLPAGE}</textarea>
			</dd>
		</dl>

		<hr/>

		<dl>
			<dt><label>{{ lang('TN_FIRSTPOST') }}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="tn_firstpost" value="1"
						   {{ FIRSTPOST ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="tn_firstpost" value="0"
						   {{ FIRSTPOST ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="tn_code_tab">{{ lang('ACP_TN_CODE_TAB') }}</label><br/>{{ lang('ACP_TN_CODE_TAB_EXPLAIN') }}
			</dt>
			<dd>
				<input type="text" name="tn_code_tab" id="tn_code_tab" value="{CODE_TAB}" size="50"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="tabnews2_urlpage">{L_ACP_TABNEWS2_URLPAGE}{{ lang('COLON') }}</label><br/>{L_ACP_TABNEWS2_URLPAGE_EXPLAIN}
			</dt>
			<dd><textarea name="tabnews2_urlpage" id="tabnews2_urlpage" rows="3" cols="40">{TABNEWS2_URLPAGE}</textarea>
			</dd>
		</dl>
		<hr/>

		<dl>
			<dt><label>{L_ACP_ACTIVE_TAB3}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="active_tab3" value="1"
						   {{ ACTIVE_TAB3 ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="active_tab3" value="0"
						   {{ ACTIVE_TAB3 ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="title_tab3">{L_ACP_TITLE_TAB3}</label><br/>{L_ACP_TITLE_TAB3_EXPLAIN}</dt>
			<dd>
				<input type="text" name="title_tab3" id="title_tab3" value="{TITLE_TAB3}" size="50"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="tabnews_text">{{ lang('ACP_TABNEWS_TEXT') }}{{ lang('COLON') }}</label><br/>{{
				lang('ACP_TABNEWS_URLPAGE_EXPLAIN') }}
			</dt>
			<dd><textarea name="tabnews_text" id="tabnews_text" rows="3" cols="40">{TABNEWS_TEXT}</textarea></dd>
		</dl>
		<hr/>
		<dl>
			<dt><label>{L_TN_FIRSTPOST4}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="tn_firstpost4" value="1"
						   {{ FIRSTPOST4 ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="tn_firstpost4" value="0"
						   {{ FIRSTPOST4 ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="tn_code_tab4">{L_ACP_TN_CODE_TAB4}</label><br/>{L_ACP_TN_CODE_TAB4_EXPLAIN}</dt>
			<dd>
				<input type="text" name="tn_code_tab4" id="tn_code_tab4" value="{CODE_TAB4}" size="50"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="tabnews4_urlpage">{L_ACP_TABNEWS4_URLPAGE}{{ lang('COLON') }}</label><br/>{L_ACP_TABNEWS4_URLPAGE_EXPLAIN}
			</dt>
			<dd><textarea name="tabnews4_urlpage" id="tabnews4_urlpage" rows="3" cols="40">{TABNEWS4_URLPAGE}</textarea>
			</dd>
		</dl>
		<hr/>
		<dl>
			<dt><label>{L_ACP_ACTIVE_TAB5}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="active_tab5" value="1"
						   {{ ACTIVE_TAB5 ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="active_tab5" value="0"
						   {{ ACTIVE_TAB5 ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="title_tab5">{L_ACP_TITLE_TAB5}</label><br/>{L_ACP_TITLE_TAB5_EXPLAIN}</dt>
			<dd>
				<input type="text" name="title_tab5" id="title_tab5" value="{TITLE_TAB5}" size="50"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="tabnews5_urlpage">{L_ACP_TABNEWS5_URLPAGE}{{ lang('COLON') }}</label><br/>{L_ACP_TABNEWS5_URLPAGE_EXPLAIN}
			</dt>
			<dd><textarea name="tabnews5_urlpage" id="tabnews5_urlpage" rows="3" cols="40">{TABNEWS5_URLPAGE}</textarea>
			</dd>
		</dl>
		<hr/>
		<dl>
			<dt><label>{L_ACP_ACTIVE_TAB6}</label></dt>
			<dd>
				<label>
					<input type="radio" class="radio" name="active_tab6" value="1"
						   {{ ACTIVE_TAB6 ? 'checked' : '' }}
					/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" class="radio" name="active_tab6" value="0"
						   {{ ACTIVE_TAB6 ? '' : 'checked' }}
					/> {{ lang('NO') }}
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="title_tab6">{L_ACP_TITLE_TAB6}</label><br/>{L_ACP_TITLE_TAB6_EXPLAIN}</dt>
			<dd>
				<input type="text" name="title_tab6" id="title_tab6" value="{TITLE_TAB6}" size="50"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="tabnews6_urlpage">{L_ACP_TABNEWS6_URLPAGE}{{ lang('COLON') }}</label><br/>{L_ACP_TABNEWS6_URLPAGE_EXPLAIN}
			</dt>
			<dd><textarea name="tabnews6_urlpage" id="tabnews6_urlpage" rows="3" cols="40">{TABNEWS6_URLPAGE}</textarea>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}"/>&nbsp;
			<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}"/>
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
