/* todo: rename and import all the css for publication page in this file */
.adychangecover .row {
	display: flex;
	justify-content: space-around;
}

.adychangecover .row.center {
	justify-content: center;
	align-items: center;
}

.adychangecover .row.fields {
	margin: 5px;
}

.adychangecover .row.fields.checkboxes {
	justify-content: space-around;
}

.adychangecover .row.bbcode .format-buttons {
	display: flex;
}

.adychangecover .row.fields .field {
	width: 100%;
	text-align: left;
	margin: 5px;
}

.adychangecover .row.fields .field label {
	margin: 5px;
}

.adychangecover .row.fields .field.serie-title .field {
	margin: unset;
}

.adychangecover .show-results.hidden {
	display: none;
}

.adychangecover .main-fields-container {
	width: 100%;
}

.adychangecover .adychangecover.message-info.field-help {
	text-align: left;
}

.adychangecover .divider {
	display: flex;
	flex-direction: row;
}

.adychangecover .divider:before,
.adychangecover .divider:after {
	content: "";
	flex: 1 1;
	border-bottom: 1px solid;
	margin: auto;
}

.adychangecover .divider:before {
	margin-right: 10px
}

.adychangecover .divider:after {
	margin-left: 10px
}

#preview-title {
	padding: 10px;
	border: 1px #c7c7c7 solid;
	border-radius: 10px;
	margin: 0 0 10px 0;
	min-height: 20px;
	text-align: center;
}

#preview-title span.text {
	font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Uploader */
.uploader {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}
.uploader label {
	float: left;
	clear: both;
	width: 180px;
	height: 275px;
	padding: 2rem 1.5rem;
	text-align: center;
	border-radius: 7px;
	border: 1px solid #eee;
	transition: all 0.2s ease;
	user-select: none;
}
.uploader label:hover {
	border-color: #454cad;
}
.uploader label.hover {
	border: 3px solid #454cad;
	box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
	transform: scale(0.8);
	opacity: 0.3;
}
.uploader #start {
	float: left;
	clear: both;
	width: 100%;
}
.uploader #start.hidden {
	display: none;
}
.uploader #start i.fa {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all 0.2s ease-in-out;
}
.uploader #response {
	float: left;
	clear: both;
	width: 100%;
}
.uploader #response.hidden {
	display: none;
}
.uploader #response #messages {
	margin-bottom: 0.5rem;
}
.uploader #file-image {
	display: inline;
	margin: 0 auto 0.5rem auto;
	width: auto;
	height: auto;
	max-width: 180px;
}
.uploader #file-image.hidden {
	display: none;
}
.uploader #notimage {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.uploader #notimage.hidden {
	display: none;
}
.uploader progress, .uploader .progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}
.uploader input[type="file"] {
	display: none;
}
.uploader div {
	margin: 0 0 0.5rem 0;
	color: #5f6982;
}
.uploader .btn {
	display: inline-block;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	clear: both;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: 0.2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #fff;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #454cad;
	border-color: #454cad;
	cursor: pointer;
}

@media (max-width: 920px) {
	.adychangecover .row.fields-container {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 580px) {
	.adychangecover .row {
		flex-direction: column;
		align-items: center;
	}

	.adychangecover .row.fields.checkboxes {
		flex-direction: row;
	}
}