/* checkbox */
.adychangecover .checkbox-symbol,
.adychangecover.request .checkbox-symbol,
.adychangecover.edit-comics-index .checkbox-symbol {

	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}

.adychangecover .actions *,
.adychangecover.request .checkbox-index *,
.adychangecover.edit-comics-index .checkbox-hide * {
	box-sizing: border-box;
}

.adychangecover .actions .checkbox-input,
.adychangecover.request .checkbox-index .checkbox-input,
.adychangecover.edit-comics-index .checkbox-hide .checkbox-input {
	position: absolute;
	visibility: hidden;
}

.adychangecover .actions .checkbox,
.adychangecover.request .checkbox-index .checkbox,
.adychangecover.edit-comics-index .checkbox-hide .checkbox {
	user-select: none;
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.3s ease;
	display: flex;
}

.adychangecover.request .checkbox-index .checkbox,
.adychangecover.edit-comics-index .checkbox-hide .checkbox {
	padding-left: 0;
}

.adychangecover .actions .checkbox:not(:last-child),
.adychangecover.request .checkbox-index .checkbox:not(:last-child),
.adychangecover.edit-comics-index .checkbox-hide .checkbox:not(:last-child) {
	margin-right: 6px;
}

.adychangecover .actions .checkbox:hover,
.adychangecover.request .checkbox-index .checkbox:hover,
.adychangecover.edit-comics-index .checkbox-hide .checkbox:hover {
	background: rgba(0, 119, 255, 0.06);
}

.adychangecover .actions .checkbox span,
.adychangecover.request .checkbox-index .checkbox span,
.adychangecover.edit-comics-index .checkbox-hide .checkbox span {
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.adychangecover .actions .checkbox span:first-child,
.adychangecover.request .checkbox-index .checkbox span:last-child,
.adychangecover.edit-comics-index .checkbox-hide .checkbox span:last-child {
	position: relative;
	flex: 0 0 18px;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	transform: scale(1);
	border: 1px solid #cccfdb;
	transition: all 0.3s ease;
}

.adychangecover .actions .checkbox span:first-child svg,
.adychangecover.request .checkbox-index .checkbox span:last-child svg,
.adychangecover.edit-comics-index .checkbox-hide .checkbox span:last-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #ffffff;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transform: translate3d(0, 0, 0);
}

.adychangecover.request .checkbox-index .checkbox span:last-child,
.adychangecover.edit-comics-index .checkbox-hide .checkbox span:last-child {
	margin: 0 auto;
}

.adychangecover .actions .checkbox span:last-child,
.adychangecover.request .checkbox-index .checkbox span:first-child,
.adychangecover.edit-comics-index .checkbox-hide .checkbox span:first-child {
	padding-left: 8px;
	line-height: 18px;
}

.adychangecover.request .checkbox-index .checkbox span:first-child,
.adychangecover.edit-comics-index .checkbox-hide .checkbox span:first-child {
	padding-left: 0;
	line-height: 18px;
	font-weight: 500;
}

.adychangecover .actions .checkbox:hover span:first-child,
.adychangecover.request .checkbox-index .checkbox:hover span:last-child,
.adychangecover.edit-comics-index .checkbox-hide .checkbox:hover span:last-child {
	border-color: #0077ff;
}

.adychangecover .actions .checkbox-input:checked + .checkbox span:first-child,
.adychangecover.request .checkbox-index .checkbox-input:checked + .checkbox span:last-child,
.adychangecover.edit-comics-index .checkbox-hide .checkbox-input:checked + .checkbox span:last-child {
	background: #0077ff;
	border-color: #0077ff;
	animation: zoom-in-out 0.3s ease;
}

.adychangecover .actions .checkbox-input:checked + .checkbox span:first-child svg,
.adychangecover.request .checkbox-index .checkbox-input:checked + .checkbox span:last-child svg,
.adychangecover.edit-comics-index .checkbox-hide .checkbox-input:checked + .checkbox span:last-child svg {
	stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
	50% {
		transform: scale(0.9);
	}
}

@media (max-width: 992px) {
	.adychangecover.edit-comics-index .checkbox-hide .checkbox {
		display: flex;
		flex-direction: column;
	}
}
