.adychangecover {
	text-align: center;
}

.adychangecover.message-info {
	padding: 5px;
	font-size: .75em;
}

.adychangecover form div p {
	margin: 0;
}

.adychangecover.approve .section {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
}

.adychangecover.approve .section h2 {
	width: 100%;
	text-transform: capitalize;
	margin: 10px 0;
}

.adychangecover.approve .section .divider {
	width: 95%;
	border: 1px solid lightgrey;
	margin: 0 auto;
}

.adychangecover.approve .section .element {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	margin: 10px;
	padding: 5px;
}

.fd_dark .adychangecover.approve .section .element {
	background: rgb(44, 52, 66) !important;
}

.adychangecover.approve .section .element.refused {
	background: rgba(255, 0, 0, 0.2) !important;
}

.adychangecover.approve .section .element .actions {
	display: flex;
	margin-top: 5px;
}

.adychangecover.approve .section .element .cover,
.adychangecover.approve .section .element .cover a,
.adychangecover.approve .section .element .cover img {
	width: inherit;
}

.changecover-nav-link {
	margin-left: 2px;
}

.changecover-nav-caret {
	margin-left: 5px;
}

.changecover-notifications {
	background: #ff00009c !important;
	font-weight: bold;
	padding: 0 8px;
}

.changecover-notifications.button {
	color: #bec4c9;
}

.changecover-notifications.notifications-on-list {
	margin-left: 2px;
	border-radius: 5px;
	color: white;
}

.changecover-nav-container.mobile,
.changecover-notifications-mobile {
	display: none;
}

.adychangecover.request form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.adychangecover.request form .panel:nth-child(1) {
	flex: 2;
	margin-right: 10px;
}

.adychangecover.request form .panel:nth-child(2) {
	flex: 1;
}

.adychangecover.request form .panel:nth-child(3) {
	width: 100%;
}

.adychangecover.request form dd input,
.adychangecover.request form dd select {
	width: 100% !important;
}

.adychangecover.releases,
.adychangecover.comics-index {
	margin: 0 auto;
	text-align: left;
}

.adychangecover.comics-index h2 i.fa-pause-circle {
	color: orange;
}

.adychangecover.comics-index h2 i.fa-check-circle {
	color: green;
}

.adychangecover.comics-index h2 i.fa-spinner {
	color: blue;
}

.adychangecover.comics-index h2 i.fa-times-circle {
	color: red;
}

.adychangecover.comics-index .home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.adychangecover.comics-index .creation-link {
	text-align: center;
	margin-top: 20px;
}

.adychangecover.comics-index .creation-link a.button1 {
	color: darkgrey;
}

.adychangecover.comics-index label[for="search"] {
	display: block;
	width: 100%;
}

.adychangecover.comics-index #search {
	display: block;
	width: 100% !important;
}

.adychangecover.comics-index .index-legend {
	text-align: center;
	margin-bottom: unset;
}

.adychangecover.comics-index .index-legend div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 5px;
}

.adychangecover.comics-index .index-legend div .element {
	text-align: left;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 20px;
	border: 1px #edecec solid;
	padding: 10px 10px 10px 1.5em;
	display: inline-block;
}

.fd_dark .adychangecover.comics-index .index-legend div .element {
	border-color: #575757;
}

.fd_dark .adychangecover.comics-index .index-legend div .element.active {
	background: rgba(255, 255, 255, 0.1) !important;
}

.adychangecover.comics-index .index-legend div .element.active {
	background: #dcdcdc !important;
}

.fd_dark .adychangecover.comics-index .index-legend div .element:hover {
	background: rgba(190, 190, 190, 0.1) !important;
}

.adychangecover.comics-index .index-legend div .element:hover {
	background: #a6a6a6 !important;
	text-decoration: none;
}

.adychangecover.comics-index .index-legend div .element:last-child {
	margin-right: unset;
}

.adychangecover.comics-index .indices .element {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fd_dark .adychangecover.releases .releases-body ul.bg2,
.fd_dark .adychangecover.comics-index .indices .element.bg2 {
	background: rgb(44, 52, 66) !important;
}

.adychangecover.comics-index .element {
	padding: 5px;
	border-radius: 5px;
}

.adychangecover.comics-index .indices .element .title-container {
	width: 100%;
}

.adychangecover.comics-status .page-title::before,
.adychangecover.comics-index .index-legend .element::before,
.adychangecover.comics-index .indices .element .title-container::before {
	margin-left: -1em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.adychangecover.comics-status .page-title::before,
.adychangecover.comics-index .index-legend .element::before,
.adychangecover.comics-index:not(.comics-status) .indices .element .title-container::before {
	content: "A";
	color: transparent;
	background: #cccccc;
}

.adychangecover.comics-status .page-title::before,
.adychangecover.comics-index .index-legend .element::before {
	margin-right: .5em;
}

.adychangecover.comics-status .page-title.wip::before,
.adychangecover.comics-index .index-legend .element.wip::before,
.adychangecover.comics-index .indices .element.wip .title-container::before {
	background: #2353d2;
}

.adychangecover.comics-status .page-title.paused::before,
.adychangecover.comics-index .index-legend .element.paused::before,
.adychangecover.comics-index .indices .element.paused .title-container::before {
	background: #c48118;
}

.adychangecover.comics-status .page-title.ended::before,
.adychangecover.comics-index .index-legend .element.ended::before,
.adychangecover.comics-index .indices .element.ended .title-container::before {
	background: #1c931c;
}

.adychangecover.comics-status .page-title.abandoned::before,
.adychangecover.comics-index .index-legend .element.abandoned::before,
.adychangecover.comics-index .indices .element.abandoned .title-container::before {
	background: #ab1b1b;
}

.fd_dark .adychangecover.comics-status .page-title::before,
.fd_dark .adychangecover.comics-index .index-legend .element::before,
.fd_dark .adychangecover.comics-index .indices .element .title-container::before {
	background: #424242;
}

.fd_dark .adychangecover.comics-status .page-title.wip::before,
.fd_dark .adychangecover.comics-index .index-legend .element.wip::before,
.fd_dark .adychangecover.comics-index .indices .element.wip .title-container::before {
	background: #0b0bd9;
}

.fd_dark .adychangecover.comics-status .page-title.paused::before,
.fd_dark .adychangecover.comics-index .index-legend .element.paused::before,
.fd_dark .adychangecover.comics-index .indices .element.paused .title-container::before {
	background: #734800;
}

.fd_dark .adychangecover.comics-status .page-title.ended::before,
.fd_dark .adychangecover.comics-index .index-legend .element.ended::before,
.fd_dark .adychangecover.comics-index .indices .element.ended .title-container::before {
	background: #005b00;
}

.fd_dark .adychangecover.comics-status .page-title.abandoned::before,
.fd_dark .adychangecover.comics-index .index-legend .element.abandoned::before,
.fd_dark .adychangecover.comics-index .indices .element.abandoned .title-container::before {
	background: #6e0000;
}

/*.adychangecover.comics-index .index-legend div .element.secret::before {*/
/*	content: "\f21b";*/
/*}*/

.adychangecover.comics-index .element:hover a {
	color: #575757;
	text-decoration: none;
}

.adychangecover.comics-index .element .edit-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background: #e3e3e3;
	width: 3em;
	height: 2em;
}

.fd_dark .adychangecover.comics-index .element .edit-container {
	background: #3a404b;
}

.adychangecover.releases .releases-home {
	text-align: center;
}

.adychangecover.releases .releases-home a,
.adychangecover.releases .releases-home h5 {
	display: inline-block;
	padding: 2px;
	margin: 10px;
	font-size: 20px;
}

.adychangecover.releases .releases-home h5 {
	width: 100%;
	margin: 10px 0;
	font-weight: normal;
	cursor: pointer;
}

.adychangecover.releases .releases-home .current-year,
.adychangecover.releases .releases-home .last-years,
.adychangecover.releases .releases-body {
	padding: 10px;
}

.adychangecover.releases .releases-body ul {
	display: flex;
	flex-wrap: wrap;
}

.adychangecover.releases .releases-body ul li a {
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 140px;
	height: 215px;
	margin: 0 5px;
}

.adychangecover.releases .releases-body ul li img:first-child {
	object-fit: contain;
	width: inherit;
	height: inherit;
}

.adychangecover.releases .releases-body ul li img {
	border-radius: 5px;
}

.adychangecover.releases .releases-body ul li div.release-cover-background,
.adychangecover.releases .releases-body ul li div.release-cover-title {
	position: absolute;
	width: 140px;
	height: 215px;
	opacity: 0;
}

.adychangecover.releases .releases-body ul li div.release-cover-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	opacity: 1;
}

.adychangecover.releases .releases-body ul li div.release-cover-background {
	z-index: 1;
	background: whitesmoke;
	opacity: .4;
	border-radius: 5px;
}

.adychangecover.releases .releases-body ul li div.release-cover-title img {
	z-index: 2;
}

.adychangecover.releases .releases-body ul li div.release-cover-title span {
	z-index: 2;
	color: black;
	font-weight: bold;
	word-wrap: anywhere;
}

.adychangecover.releases .releases-home div div {
	border-top: solid 1px lightgrey;
}

.adychangecover.releases .releases-home .last-years {
	margin-top: 20px;
}

.adychangecover.releases .releases-home .last-years div {
	display: none;
}

.adychangecover.releases h2,
.adychangecover.comics-index h2 {
	text-align: center;
}

.adychangecover .link-pagination {
	display: flex;
	margin: 5px 0;
}

.adychangecover .link-pagination .button {
	flex: 1;
	border-radius: 0;
}

.adychangecover .link-pagination .button.active {
	background: #dcdcdc !important;
}

.fd_dark .adychangecover .link-pagination .button.active {
	background: rgb(49, 49, 49) !important;
}

.adychangecover .link-pagination .button.disabled {
	opacity: .7;
	border: unset;
	cursor: unset;
	color: unset;
}

.adychangecover .link-pagination :first-child {
	border-radius: 20px 0 0 20px;
}

.adychangecover .link-pagination :last-child {
	border-radius: 0 20px 20px 0;
}

.adychangecover.comics-index .link-pagination.characters {
	overflow-y: auto;
	margin: 10px 0;
}

.adychangecover.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.adychangecover.home.panel a.button1 {
	width: 100% !important;
	margin-bottom: 5px;
	color: darkgrey;
}

.adychangecover.releases h4,
.adychangecover.comics-index h4 {
	font-size: 20px;
	margin-top: 5px;
}

.adychangecover.releases li,
.adychangecover.comics-index li {
	list-style: none;
	font-size: 15px;
}

.adychangecover.releases .locg-news {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.adychangecover.releases.locg-news-main form div.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 5px;
	padding: 10px;
	justify-content: center;
	width: 50%;
}

.adychangecover.releases.locg-news-main form div.date {
	width: 47%;
	text-align: right;
	padding-right: 15px;
}

.adychangecover.releases.locg-news-main form div.sections {
	width: 47%;
	padding-left: 15px;
}

.adychangecover.releases.locg-news-main form div.submit {
	width: 100%;
	text-align: center;
}

.adychangecover.releases.locg-news-main form div.submit input {
	width: 100% !important;
}

.adychangecover.releases.locg-news-main form input {
	margin: 5px;
}

.adychangecover.releases .locg-news .element {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	margin: 10px;
	padding: 5px;
}

.adychangecover.releases .locg-news .element div {
	position: relative;
	width: 100%;
	height: 35px;
	word-wrap: break-word;
}

.adychangecover.releases .locg-news .element h4 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 5px;
}

.adychangecover.releases .locg-news .element img {
	position: relative;
	max-width: 170px;
}


.adychangecover form {
	width: 50%;
	margin: 0 auto;
	text-align: unset;
}

.adychangecover form input,
.adychangecover form select,
.adychangecover form textarea {
	width: 100% !important;
}

.adychangecover:not(.tabnews-manage) form input[type="submit"],
form.adychangecover input[type="submit"] {
	width: 60% !important;
}

.adychangecover.releases.locg-news-main form {
	width: unset;
}

.adychangecover.tabnews-manage .remove-button,
.adychangecover.edit-comics-index form input[name='remove'] {
	color: red;
}

.adychangecover.tabnews-manage .news {
	border: solid 1px lightgrey;
}

.adychangecover.tabnews-manage .news.selected {
	border: solid 1px lightcoral;
}

.adychangecover.tabnews-manage .news .panel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 300px;
}

.adychangecover.tabnews-manage .news .panel .text,
.adychangecover.tabnews-manage .news .panel .information,
.adychangecover.tabnews-manage .news .panel .actions {
	height: inherit;
}

.adychangecover.tabnews-manage .news .panel .text,
.adychangecover.tabnews-manage .news .panel .information,
.adychangecover.tabnews-manage .news .panel .actions,
.adychangecover.tabnews-manage .news .panel .actions form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.adychangecover.tabnews-manage .news .panel .text div,
.adychangecover.tabnews-manage .news .panel .information div,
.adychangecover.tabnews-manage .news .panel .actions input {
	margin-top: 20px;
}

.adychangecover.tabnews-manage .news .panel .actions a:first-child {
	width: 100%;
}

.adychangecover.tabnews-manage .news .panel .actions a:first-child input {
	width: 100% !important;
}

.adychangecover.tabnews-manage .news .panel .text .title {
	font-size: 20px;
	font-weight: bold;
}

.adychangecover.tabnews-manage .news .panel .actions form {
	margin: unset;
	width: 100%;
}

.adychangecover.tabnews-manage .news .comment {
	text-align: left;
}

.adychangecover.news-edit {
	display: flex;
	justify-content: center;
}

.adychangecover.news-edit form {
	margin: unset;
}

@media (max-width: 992px) {
	.adychangecover.message-info {
		font-size: 10px;
		text-align: left;
	}

	.changecover-nav-container.desktop {
		display: none;
	}

	.changecover-nav-container.mobile {
		display: inline-flex;
		width: 100%;
		justify-content: space-between;
	}

	.changecover-nav-container.mobile .changecover-notifications {
		height: 16px;
	}

	.changecover-notifications-mobile {
		display: block;
	}

	.changecover-notifications-mobile .changecover-notifications {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 13px;
		z-index: -1;
	}

	.adychangecover.request form .panel:nth-child(1) {
		margin-left: unset;
		margin-right: unset;
	}

	.adychangecover.request form .panel {
		flex: unset !important;
	}

	.adychangecover form {
		text-align: center;
		width: 100%;
	}

	.adychangecover.releases.locg-news-main form {
		display: block;
		width: unset;
		text-align: left;
	}

	.adychangecover.releases.locg-news-main form div:nth-child(1) {
		width: unset;
		text-align: unset;
		padding-right: unset;
		border-right: unset;
		margin-bottom: 10px;
	}

	.adychangecover.releases .releases-body ul li a,
	.adychangecover.releases .releases-body ul li div.release-cover-background,
	.adychangecover.releases .releases-body ul li div.release-cover-title {
		width: 100px;
		height: 153px;
	}

	.adychangecover.releases .link-pagination,
	.adychangecover.comics-index .link-pagination {
		font-size: 2.5vw;
	}

	.adychangecover.edit-comics-index form {
		width: 100%;
	}

	.adychangecover.edit-comics-index form dt {
		text-align: center;
	}

	.adychangecover.tabnews-manage .news .panel {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		height: unset;
	}

	.adychangecover.tabnews-manage .news .panel .cover img {
		max-width: 100%;
	}

	.adychangecover.approve .section {
		justify-content: center;
	}

	.adychangecover.comics-index .index-legend div .element {
		margin-bottom: 5px;
		width: 33%;
	}

	.adychangecover.comics-index .index-legend div .element:nth-child(even) {
		margin-right: unset;
	}

	.adychangecover.comics-index .index-legend div .element.secret {
		margin-right: unset;
		width: 100%;
	}
}

@media (max-width: 580px) {
	.adychangecover.comics-index .indices .element .title-container .title {
		max-width: 90%;
	}
}


form .autocomplete-field-container {
	flex-wrap: wrap;
}

form .autocomplete-field-container .autocomplete-result {
	max-height: 100px;
	overflow: scroll;
	border: 1px solid rgba(190, 196, 201, 0.2);
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	width: fit-content;
	z-index: 1000;
	background: #bdbdbd;
	color: black;
}

form .autocomplete-field-container .autocomplete-result .row {
	padding: 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

form .autocomplete-field-container .autocomplete-result .row:hover {
	background: rgba(190, 196, 201, 0.2);
}

form .autocomplete-field-container .autocomplete-result .row[data-selected] {
	background: rgba(96, 97, 100, 0.2);
}

form .autocomplete-field-container .show-results {
	display: flex;
	width: calc(100% - 200px);
	flex-wrap: wrap;
}

.item.chip {
	height: 30px;
	width: fit-content;
	padding: 0 5px 0 0;
	border-radius: 20px;
	border: 1px solid rgba(190, 196, 201, 0.2);
	margin-left: 5px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.item.chip.serie {
	padding: 0 5px;
}

.item.chip:hover {
	background: rgba(190, 196, 201, 0.2);
	cursor: pointer;
}

.item.chip .avatar,
#projects-container .project-container .cell.job .avatar,
form .autocomplete-field-container .autocomplete-result .row .avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.item.chip .avatar,
form .autocomplete-field-container .autocomplete-result .row .avatar {
	margin-right: 2px;
}

form button#reset {
	background-color: rgba(232, 96, 96, 0.78);
	position: absolute;
	right: 10px;
}

form .to-be-validated {
	position: relative;
}

form .to-be-validated .validation-icon {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
}

form .to-be-validated .validation-icon.fa-check-circle {
	color: green;
}

form .to-be-validated .validation-icon.fa-times-circle {
	color: red;
}

form .to-be-validated .validation-icon.fa-warning {
	color: orange;
}

form .to-be-validated .validation-error {
	display: none;
	color: red;
}

form .to-be-validated .validation-error.warning {
	color: orange;
}

form span[aria-label="required"] {
	color: red;
}
