.indentmenu {
	width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul {
	border-radius: 8px 8px 0 0;
	float: left;
	width: 100%;
}

.indentmenu ul ul {
	display: flex;
}

.indentmenu ul li {
	width: 100%;
}

.indentmenu ul li dt {
	margin: 14px 0;
}

.indentmenu ul li .list-inner {
	padding-left: 5px;
	margin-right: 0;
	width: 100%;
}

.indentmenu ul li a {
	float: left;
	color: #ffffff;
	padding: 5px 11px;
	text-decoration: none;
	border-radius: 8px 8px 0 0;
}

.indentmenu ul li a.selected {
	float: left;
	color: #ffd193 !important;
}

.tabcontent {
	display: none;
	padding: 10px;
}

.tabcontent div:first-child {
	text-align: center;
}

@media print {
	.tabcontent {
		display: block !important;
	}
}

@media (max-width: 750px) {
	.indentmenu ul li a {
		font-size: 2vw;
		font-weight: bold;
	}
}
