<!-- INCLUDE overall_header.html -->

{% if ALL_REQUEST %}
<p class="adychangecover message-info panel">
	Vous pouvez valider et supprimer plusieurs issues en même temps.<br>
	Évitez de valider plusieurs demandes pour la même série. Validez l'issue la plus récente et supprimez les
	autres.<br>
	Laissons de la place pour tout le monde. Donc évitons qu'il y ait deux issues de la même série à la suite.<br>
	Faites attention à ce que la cover corresponde bien à sa section. Sinon supprimez la demande.<br>
	<br>
	Pour l'index des comics, si le membre en a fait la demande, la checkbox sera cochée.<br>
	Il a pu oublier ou se tromper.<br>
	S'il s'agit d'un premier numéro ou d'un one-shot, il doit être ajouté à l'index.
</p>
<form id="form" class="adychangecover approve panel" method="POST" action="">
	{% include 'checkbox-symbol.html' %}
	{% for section, elements in ALL_REQUEST %}
	<div class="section panel bg1">
		<h2>{{ DISPLAY_SECTION[section] }}</h2>
		<div class="divider"></div>
		{% for element in elements %}
		<div class="element panel refused" data-id="{{ element.ID }}">
			<div class="author">Par : {{ element.USER }}</div>
			<div class="title">{{ element.TITLE }}</div>
			<div class="cover">{{ element.COVER }}</div>
			<div class="actions">
				<input id="approve-{{ element.ID }}"
					   class="checkbox-input approve"
					   type="checkbox"
					   name="approve[{{ element.ID }}]"
					   value="{{ element.ID }}"
				>
				<label class="checkbox" for="approve-{{ element.ID }}">
					<span>
					  <svg width="12px" height="10px">
						<use xlink:href="#check"></use>
					  </svg>
					</span>
					<span>Valider</span>
				</label>
				<input id="index-{{ element.ID }}"
					   class="checkbox-input index"
					   type="checkbox"
					   name="index[{{ element.ID }}]"
					   value="{{ element.ID }}"
					   {% if element.COMICS_INDEX %}checked{% endif %}
				>
				<label class="checkbox" for="index-{{ element.ID }}">
					<span>
					  <svg width="12px" height="10px">
						<use xlink:href="#check"></use>
					  </svg>
					</span>
					<span>Index</span>
				</label>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	<div class='panel'>
		<div class='inner'>
			<fieldset class='submit-buttons'>
				<input id="submit" class="button1" type="submit" accesskey="s" tabindex="6" name="post"
					   value="Envoyer"/>
			</fieldset>
		</div>
	</div>
</form>
{% INCLUDEJS '@ady_changecover/adychangecover-approve-page.js' %}
{% else %}
<div class="adychangecover panel">
	<p>Aucune demande de header actuellement.</p>
	<a href="/">Retour à l'accueil</a>
</div>
{% endif %}

<!-- INCLUDE overall_footer.html -->
