<li>
	<div class="changecover-nav-container desktop dropdown-container">
		<a href="#" title="changecover" class="changecover-nav-link-title dropdown-trigger" role="menuitem">
			<i class="fa fa-window-maximize"></i>
			<span class="changecover-nav-link">DCT News</span>
			<i class="icon fa fa-caret-down changecover-nav-caret" aria-hidden="true"></i>
		</a>
		{% if U_CHANGECOVER_APPROVER and NOTIFICATIONS != 0 %}
		<a href="{{ path('ady_changecover_approve') }}">
			<div class="changecover-notifications button">{{ NOTIFICATIONS }}</div>
		</a>
		{% endif %}
		<div class="dropdown">
			<div class="pointer">
				<div class="pointer-inner"></div>
			</div>
			<ul class="changecover-nav-menu dropdown-contents" role="menu">
				{% if U_CHANGECOVER_REQUESTER %}
				<li class="changecover-nav-requester-page">
					<a href="{{ path('ady_changecover_request', { v2: true }) }}" role="menuitem">
						<span>
							<i class="icon fa fa-question-circle fa-fw" aria-hidden="true"></i>Publier un comics
						</span>
					</a>
				</li>
				{% endif %}
				{% if U_CHANGECOVER_APPROVER %}
				<li class="changecover-nav-approver-page">
					<a href="{{ path('ady_changecover_approve') }}" role="menuitem">
						<span>
							<i class="icon fa fa-check-circle fa-fw" aria-hidden="true"></i>Valider un comics
                            {% if NOTIFICATIONS != 0 %}
                            <span class="changecover-notifications notifications-on-list">{{ NOTIFICATIONS }}</span>
                            {% endif %}
                        </span>
					</a>
				</li>
				{% endif %}
				{% if U_CHANGECOVER_TABNEWS_REQUESTER %}
				<li class="changecover-nav-requester-page">
					<a href="{{ path('ady_news_request') }}" role="menuitem">
						<span>
							<i class="icon fa fa-bullhorn fa-fw" aria-hidden="true"></i>Proposer une news
						</span>
					</a>
				</li>
				<li class="changecover-nav-requester-page">
					<a href="{{ path('ady_news_manage') }}" role="menuitem">
						<span>
							<i class="icon fa fa-bullhorn fa-fw" aria-hidden="true"></i>News manager
						</span>
					</a>
				</li>
				{% endif %}
				{% if U_ADY_PEPPER_ORGANIZER %}
				<li class="changecover-nav-requester-page">
					<a href="{{ path('ady_pepper_projects_organizer') }}" role="menuitem">
						<span>
							<i class="icon fa fa-users fa-fw" aria-hidden="true"></i>Projets/Équipes
						</span>
					</a>
				</li>
				{% endif %}
				<li class="changecover-nav-releases-logc-page">
					<a href="{{ path('ady_locg_news') }}" role="menuitem">
						<span>
							<i class="icon fa fa-book fa-fw" aria-hidden="true"></i>All #1's
						</span>
					</a>
				</li>
				<li class="changecover-nav-pending-comics-page">
					<a href="{{ path('ady_comics_by_status', {status: 'wip'}) }}" role="menuitem">
						<span>
							<i class="icon fa fa-pause-circle fa-fw" aria-hidden="true"></i>Comics par statut
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="changecover-nav-container mobile">
		<a href="{{ path('ady_changecover_home') }}" title="changecover"
		   class="changecover-nav-link-title"
		   role="menuitem">
			<span class="changecover-nav-link">
				<i class="fa fa-window-maximize"></i>&nbsp;DCT News
			</span>
		</a>
		{% if U_CHANGECOVER_APPROVER and NOTIFICATIONS != 0 %}
		<a href="{{ path('ady_changecover_approve') }}">
			<div class="changecover-notifications notifications-on-list">
				<span>{{ NOTIFICATIONS }}</span>
			</div>
		</a>
		{% endif %}
	</div>
</li>
{% if U_CHANGECOVER_APPROVER and NOTIFICATIONS != 0 %}
<li class="changecover-notifications-mobile" data-skip-responsive="true" data-select-match="changecover">
	<div class="changecover-notifications button">{{ NOTIFICATIONS }}</div>
</li>
{% endif %}
