{% INCLUDECSS '@ady_changecover/adychangecover-checkbox.css' %}

<svg class="checkbox-symbol">
	<symbol id="check" viewBox="0 0 12 10">
		<polyline
				points="1.5 6 4.5 9 10.5 1"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
		></polyline>
	</symbol>
</svg>
