<!-- INCLUDE overall_header.html -->

{% set WORD_FOR_PAGINATION = 'Index' %}
{% set STATUS_ICONS = constant('ady\\changecover\\constant\\tradStatus::STATUSES_MAP') %}

<div class="adychangecover comics-index panel">
	{% if HOME is not defined %}
	{% set character = CHARACTER == 'other' ? '#' : CHARACTER %}
	<h2>{{'Index ' ~ character|upper ~ ' (' ~ ROWS|length ~ ')' }}</h2>
	{% include 'pagination.html' %}
	<div class='link-pagination characters'>
		{% for char in CHARACTERS %}
		{% set c = char == 'other' ? '#' : char %}
		<a class="button {% if char == CHARACTER %}active{% endif %}"
		   href="{{ path('ady_comics_index_route', {character: char}) }}">
			{{ c|capitalize }}
		</a>
		{% endfor %}
	</div>
	<label for="search">
		<input type="text" id="search" class="inputbox autowidth" placeholder="Recherche..." autocomplete="off">
	</label>
	<div class="panel index-legend">
		<span>Statuts des traductions</span>
		<div>
			<span class="element bg1 wip" data-filter="wip">En cours</span>
			<span class="element bg1 paused" data-filter="paused">En pause</span>
			<span class="element bg1 ended" data-filter="ended">Terminée</span>
			<span class="element bg1 abandoned" data-filter="abandoned">Abandonnée</span>
		</div>
	</div>
	<hr>
	<ul class="panel indices">
		{% set i = 0 %}
		{% for row in ROWS %}
		{% if not row.hide or (row.hide and U_CHANGECOVER_VIEW_HIDE_INDEX) %}
		{% set i = i + 1 %}
		<li class="element {% if i is not divisible by(2) %}bg2{% endif %} {{ STATUS_ICONS[row.status] ?? '' }}"
			data-status="{{ STATUS_ICONS[row.status] ?? '' }}"
			{% if row.hide %}
			data-hidden="1"
			{% endif %}
		>
			<a href='{{ row.url }}' class="title-container" target='_blank'>
				<span class="title">{{ row.title }}</span>
			</a>
			{% if A_CHANGECOVER_EDIT_INDEX %}
			<a class="edit-container" href="{{ path('ady_edit_comics_index_route', {id: row.id}) }}" target='_blank'
			   class="edit-comics-index">
				<i class="fa fa-edit"></i>
			</a>
			{% endif %}
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	{% include 'pagination.html' %}
	{% else %}
	<div class='home'>
		{% for character in CHARACTERS %}
		<a href="{{ path('ady_comics_index_route', {character: character}) }}">
			<img src="{{ '/images/comics_index/' ~ character ~ '.png' }}" alt="{{ character }}" title="{{ character }}">
		</a>
		{% endfor %}
	</div>
	{% if A_CHANGECOVER_EDIT_INDEX %}
	<div class="creation-link">
		<a class="button1" href="{{ path('ady_create_comics_index_route') }}" target='_blank'><i class="fa fa-plus"></i>
			Créer une nouvelle entrée dans l'index</a>
	</div>
	{% endif %}
	{% endif %}
</div>
{% INCLUDEJS '@ady_changecover/adychangecover-search.js' %}
<!-- INCLUDE overall_footer.html -->
