<!-- INCLUDE overall_header.html -->

<div class="adychangecover comics-index comics-status panel">
	{% if constant('ady\\changecover\\constant\\tradStatus::WIP') == STATUS %}
	<h2 class="page-title wip">Comics en cours&nbsp;{{ '(' ~ ROWS|length ~ ')' }}</h2>
	<span>Cette page affiche tous les comics dont la trad est en cours.</span>
	{% elseif constant('ady\\changecover\\constant\\tradStatus::PAUSED') == STATUS %}
	<h2 class="page-title paused">Comics en pause&nbsp;{{ '(' ~ ROWS|length ~ ')' }}</h2>
	<span>Cette page affiche tous les comics dont la trad est arrêtée par manque de team, de motivation, ou autre,
		mais qui restent inédits, donc sans sortie VF.<br>
		Pour les membres de la team, libre à chacun de reconstituer une équipe pour relancer la trad.<br>
		Pour les membres hors team, n'hésitez pas à <a href="https://www.dctrad.fr/viewforum.php?f=21">postuler</a>
		pour intégrer l'équipe si vous souhaitez relancer un projet.
	</span>
	{% elseif constant('ady\\changecover\\constant\\tradStatus::ENDED') == STATUS %}
	<h2 class="page-title ended">Comics terminés&nbsp;{{ '(' ~ ROWS|length ~ ')' }}</h2>
	<span>Cette page affiche tous les comics dont le projet est terminé dans sa totalité.</span>
	{% elseif constant('ady\\changecover\\constant\\tradStatus::ABANDONED') == STATUS %}
	<h2 class="page-title abandoned">Comics abandonnés&nbsp;{{ '(' ~ ROWS|length ~ ')' }}</h2>
	<span>Cette page affiche tous les comics dont la trad a été abandonnée suite à une sortie VF officielle.</span>
	{% endif %}
	<hr>
	<label for="search">
		<input type="text" id="search" class="inputbox autowidth" placeholder="Recherche..." autocomplete="off">
	</label>
	<div class="panel index-legend no-js">
		<span>Statuts des traductions</span>
		<div>
			<a class="element bg1 wip {{ constant('ady\\changecover\\constant\\tradStatus::WIP') == STATUS ? 'active' : '' }}"
			   href="{{ path('ady_comics_by_status', {status: 'wip'}) }}"
			>
				<span>En cours</span>
			</a>
			<a class="element bg1 paused {{ constant('ady\\changecover\\constant\\tradStatus::PAUSED') == STATUS ? 'active' : '' }}"
			   href="{{ path('ady_comics_by_status', {status: 'paused'}) }}"
			>
				<span>En pause</span>
			</a>
			<a class="element bg1 ended {{ constant('ady\\changecover\\constant\\tradStatus::ENDED') == STATUS ? 'active' : '' }}"
			   href="{{ path('ady_comics_by_status', {status: 'ended'}) }}"
			>
				<span>Terminée</span>
			</a>
			<a class="element bg1 abandoned {{ constant('ady\\changecover\\constant\\tradStatus::ABANDONED') == STATUS ? 'active' : '' }}"
			   href="{{ path('ady_comics_by_status', {status: 'abandoned'}) }}"
			>
				<span>Abandonnée</span>
			</a>
		</div>
	</div>
	<hr>
	<ul class="panel indices">
		{% for row in ROWS %}
		<li class="element {% if loop.index is not divisible by(2) %}bg2{% endif %}">
			<a href='{{ row.url }}' class="title-container" target='_blank'>
				<span class="title">{{ row.title }}</span>
			</a>
			{% if A_CHANGECOVER_EDIT_INDEX %}
			<a href="{{ path('ady_edit_comics_index_route', {id: row.id}) }}" target='_blank'
			   class="edit-container">
				<i class="fa fa-edit"></i>
			</a>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>

{% INCLUDEJS '@ady_changecover/adychangecover-search.js' %}
<!-- INCLUDE overall_footer.html -->
