<!-- INCLUDE overall_header.html -->

{% if SUCCESS is not defined %}
{% set selectedStatus = {
default: 'selected',
wip: '',
paused: '',
ended: '',
abandoned: ''
} %}
{% if ACTION == 'edition' %}
{% if constant('ady\\changecover\\constant\\tradStatus::WIP') == ELEMENT.status %}
{% set selectedStatus = selectedStatus|merge({default: '', wip: 'selected'}) %}
{% elseif constant('ady\\changecover\\constant\\tradStatus::PAUSED') == ELEMENT.status %}
{% set selectedStatus = selectedStatus|merge({default: '', paused: 'selected'}) %}
{% elseif constant('ady\\changecover\\constant\\tradStatus::ENDED') == ELEMENT.status %}
{% set selectedStatus = selectedStatus|merge({default: '', ended: 'selected'}) %}
{% elseif constant('ady\\changecover\\constant\\tradStatus::ABANDONED') == ELEMENT.status %}
{% set selectedStatus = selectedStatus|merge({default: '', abandoned: 'selected'}) %}
{% endif %}
{% endif %}

{% set selectedSection = {
default: 'selected',
dcr: '',
dchr: '',
inde: '',
marvel: ''
} %}
{% if ACTION == 'edition' %}
{% if constant('ady\\changecover\\constant\\sections::DC') == ELEMENT.editor %}
{% set selectedSection = selectedSection|merge({default: '', dcr: 'selected'}) %}
{% elseif constant('ady\\changecover\\constant\\sections::HORSDC') == ELEMENT.editor %}
{% set selectedSection = selectedSection|merge({default: '', dchr: 'selected'}) %}
{% elseif constant('ady\\changecover\\constant\\sections::INDE') == ELEMENT.editor %}
{% set selectedSection = selectedSection|merge({default: '', inde: 'selected'}) %}
{% elseif constant('ady\\changecover\\constant\\sections::MARVEL') == ELEMENT.editor %}
{% set selectedSection = selectedSection|merge({default: '', marvel: 'selected'}) %}
{% endif %}
{% endif %}
<div class="adychangecover edit-comics-index panel">
	{% include 'checkbox-symbol.html' %}
	<form method="POST" action="">
		<fieldset class="fields1">
			<dl>
				<dt><label for="element_title">Titre</label></dt>
				<dd>
					<input id="element_title" class="inputbox autowidth" type="text" name="element[title]"
						   value="{% if ACTION == 'edition' %}{{ ELEMENT.title }}{% endif %}"
						   placeholder="The Amazing Spider-Man" required>
				</dd>
			</dl>
			<dl>
				<dt><label for="element_url">URL</label></dt>
				<dd>
					<input id="element_url" class="inputbox autowidth" type="url" name="element[url]"
						   value="{% if ACTION == 'edition' %}{{ ELEMENT.url }}{% endif %}"
						   placeholder="https://dctrad.fr/viewtopic.php?f=259&t=15208" required>
				</dd>
			</dl>
			<dl>
				<dt><label for="element_status">Statut de la trad</label></dt>
				<dd>
					<select id="element_status" name="element[status]">
						<option value="0" {{ selectedStatus.default }}>Aucun statut</option>
						<option value="1" {{ selectedStatus.wip }}>En cours</option>
						<option value="2" {{ selectedStatus.paused }}>En pause</option>
						<option value="3" {{ selectedStatus.ended }}>Terminée</option>
						<option value="4" {{ selectedStatus.abandoned }}>Abandonnée</option>
					</select>
				</dd>
			</dl>
			<dt><label for="editor">Section</label></dt>
			<dd>
				<select id="editor" name="element[editor]">
					<option disabled selected value="" {{ selectedSection.default }}>
						Choisir une section
					</option>
					<option value="{{ constant('ady\\changecover\\constant\\sections::DC') }}" {{ selectedSection.dcr }}>
						DC Rebirth
					</option>
					<option value="{{ constant('ady\\changecover\\constant\\sections::HORSDC') }}" {{ selectedSection.dchr }}>
						DC Hors Rebirth
					</option>
					<option value="{{ constant('ady\\changecover\\constant\\sections::INDE') }}" {{ selectedSection.inde }}>
						Indépendant
					</option>
					<option value="{{ constant('ady\\changecover\\constant\\sections::MARVEL') }}" {{ selectedSection.marvel }}>
						Marvel
					</option>
				</select>
			</dd>
		</fieldset>
		<div class='panel'>
			<div class='inner'>
				<fieldset class='submit-buttons'>
					<input class="button1" type="submit" accesskey="s" tabindex="6" name="post" value="Envoyer"/>
					{% if ACTION == 'edition' %}
					<input class="button2 remove-button" type="submit" accesskey="s" tabindex="6" name="remove"
						   value="Supprimer" onclick="return confirmIndexRemoval(this)"/>
					{% endif %}
				</fieldset>
			</div>
		</div>
	</form>
</div>
{% else %}
<div class="adychangecover message_success">
	<p>L'entrée de l'index a bien été {% if REMOVED %}supprimée{% elseif CREATED %}créée{% else %}mise à jour{% endif
		%}.</p>
	<a href="/">Retour à l'accueil</a>
</div>
{% endif %}

<!-- INCLUDE overall_footer.html -->

{% if ACTION == 'edition' %}
<script>
	function confirmIndexRemoval(form) {
		return confirm('Voulez-vous vraiment supprimer {{ ELEMENT.title }} ?');
	}
</script>
{% endif %}
