<!-- INCLUDE overall_header.html -->

<div class="adychangecover message_error panel">
    {% if ERROR %}
    <h3>Code erreur : {{ CODE }}{{ ERROR }}</h3>
    {% endif %}
    {% if MESSAGE is defined and MESSAGE is not empty %}
    <p>{{ lang(MESSAGE) }}</p>
    {% endif %}
    <p>Une erreur est survenue. Contactez un administrateur.</p>
    <a href="/">Retour à l'accueil</a>
</div>

<!-- INCLUDE overall_footer.html -->
