<!-- INCLUDE overall_header.html -->

<div class="adychangecover home panel">
	<a class="button1" href="{{ path('ady_locg_news') }}">
		<i class="icon fa fa-book fa-fw" aria-hidden="true"></i>All #1's
	</a>
	{% if U_CHANGECOVER_REQUESTER %}
	<a class="button1" href="{{ path('ady_changecover_request', { v2: true }) }}">
		<i class="icon fa fa-question-circle fa-fw" aria-hidden="true"></i>Publier un comics
	</a>
	{% endif %}
	{% if U_CHANGECOVER_APPROVER %}
	<a class="button1" href="{{ path('ady_changecover_approve') }}">
		<i class="icon fa fa-check-circle fa-fw" aria-hidden="true"></i>Valider un comics
		{% if NOTIFICATIONS != 0 %}
		<span class="changecover-notifications notifications-on-list">{{ NOTIFICATIONS }}</span>
		{% endif %}
	</a>
	{% endif %}
	{% if U_CHANGECOVER_TABNEWS_REQUESTER %}
	<a class="button1" href="{{ path('ady_news_request') }}">
		<i class="icon fa fa-bullhorn fa-fw" aria-hidden="true"></i>Proposer une news
	</a>
	{% endif %}
	{% if U_CHANGECOVER_TABNEWS_REQUESTER %}
	<a class="button1" href="{{ path('ady_news_manage') }}">
		<i class="icon fa fa-bullhorn fa-fw" aria-hidden="true"></i>News manager
	</a>
	{% endif %}
	{% if U_ADY_PEPPER_ORGANIZER %}
	<a class="button1" href="{{ path('ady_pepper_projects_organizer') }}">
		<i class="icon fa fa-users fa-fw" aria-hidden="true"></i>Projets/Équipes
	</a>
	{% endif %}
	<a class="button1" href="{{ path('ady_comics_by_status', {status: 'paused'}) }}">
		<i class="icon fa fa-pause-circle fa-fw" aria-hidden="true"></i>Comics par statut
	</a>
</div>

<!-- INCLUDE overall_footer.html -->
