<!-- INCLUDE overall_header.html -->

<div class="adychangecover releases locg-news-main">
	{% include 'checkbox-symbol.html' %}
	<form method='POST' action='{{ path(constant("\\ady\\changecover\\constant\\routes::LOCG_NEWS")) }}' class="panel">
		<div class="container panel bg1">
			<div class="date actions">
				<label for="sort_year">Année</label>
				<input id="sort_year" name='year' type='number' min='1950' max='2100' value='{{ date|date("Y") }}'><br>
				<label for="sort_month">Mois</label>
				<input id="sort_month" name='month' type='number' min='1' max='12' value='{{ date|date("m") }}'>
				<hr>
				<input id="sort_week"
					   class="checkbox-input"
					   type="checkbox"
					   name="week"
					   {% if week is not empty %}checked{% endif %}
				>
				<label class="checkbox" for="sort_week">
					<span>
						  <svg width="12px" height="10px">
							<use xlink:href="#check"></use>
						  </svg>
					</span>
					<span>Ou semaine courante</span>
				</label>
			</div>
			<div class="sections">
				{% set default = section is empty %}
				<div class="actions">
					<input id="sort_dc"
						   class="checkbox-input"
						   type="checkbox"
						   name="section[dc]"
						   {% if default or section.dc is defined %}checked{% endif %}
					>
					<label class="checkbox" for="sort_dc">
					<span>
						  <svg width="12px" height="10px">
							<use xlink:href="#check"></use>
						  </svg>
					</span>
						<span>DC Comics</span>
					</label>
					<div class="checkbox-index">
						<input id="sort_marvel"
							   class="checkbox-input"
							   type="checkbox"
							   name="section[marvel]"
							   {% if default or section.marvel is defined %}checked{% endif %}
						>
						<label class="checkbox" for="sort_marvel">
					<span>
						  <svg width="12px" height="10px">
							<use xlink:href="#check"></use>
						  </svg>
					</span>
							<span>Marvel</span>
						</label>
					</div>
					<div class="checkbox-index">
						<input id="sort_inde"
							   class="checkbox-input"
							   type="checkbox"
							   name="section[inde]"
							   {% if default or section.inde is defined %}checked{% endif %}
						>
						<label class="checkbox" for="sort_inde">
					<span>
						  <svg width="12px" height="10px">
							<use xlink:href="#check"></use>
						  </svg>
					</span>
							<span>Indé</span>
						</label>
					</div>
				</div>
			</div>
			<div class="submit">
				<input class="button1" type='submit' value='Go'>
			</div>
		</div>
	</form>
	<div class='locg-news panel'>
		{% if news is not empty %}
		{% for i, image in news.cover %}
		<div class='element panel bg1'>
			<h4>{{ news.title[i] }}</h4>
			<a href='{{ constant("\\ady\\changecover\\core\\locg::DOMAIN_NAME") ~ news.url[i] }}' target="_blank">
				{% if image !== '/assets/images/no-cover-med.jpg' %}
				<img src='{{ image }}' alt="{{ news.title[i] }}">
				{% else %}
				<img src='{{ no_cover }}' alt="no cover">
				{% endif %}
			</a>
		</div>
		{% endfor %}
		{% else %}
		<p>Aucun #1 pour cette date et/ou ce filtre.</p>
		{% endif %}
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
