<!-- INCLUDE overall_header.html -->

<div class="adychangecover message_success panel">
	{% if MESSAGE %}
	<p>{{ MESSAGE }}</p>
	{% if CALLBACK %}
	<a href="{{ CALLBACK }}">{{ lang('DCTNEWS_BACK_BUTTON') }}</a>
	{% endif %}
	|
	{% endif %}
	<a href="/">{{ lang('DCTNEWS_BACK_HOME_BUTTON') }}</a>
</div>

<!-- INCLUDE overall_footer.html -->
