<div class='link-pagination'>
	{% if LAST %}
	<a href='{{ LAST }}' class="button">
		<i class="fa fa-backward"></i>&nbsp;{{ WORD_FOR_PAGINATION }} précédent
	</a>
	{% else %}
	<span class="button disabled">
        <i class="fa fa-backward"></i>&nbsp;{{ WORD_FOR_PAGINATION }} précédent
    </span>
	{% endif %}
	<a href='{{ ROUTE }}' class="button">
		<i class="fa fa-home"></i>&nbsp;Home
	</a>
	{% if NEXT %}
	<a href='{{ NEXT }}' class="button">
		{{ WORD_FOR_PAGINATION }} Suivant&nbsp;<i class="fa fa-forward"></i>
	</a>
	{% else %}
	<span class="button disabled">
        {{ WORD_FOR_PAGINATION }} Suivant&nbsp;<i class="fa fa-forward"></i>
    </span>
	{% endif %}
</div>
