<!-- INCLUDE overall_header.html -->

{% set WORD_FOR_PAGINATION = 'Mois' %}
<div class="adychangecover releases">
	{% if ALL_RELEASES is not empty %}
	<h2>{{ COUNT }} publications pour le {{ DATE }}</h2>
	{% include 'pagination.html' %}
	<div class='releases-body panel'>
		{% for date, releases in ALL_RELEASES %}
		<h4><i class="fa fa-calendar"></i> {{ date }}</h4>
		<ul class="panel {% if loop.index is not divisible by(2) %}bg2{% endif %}">
			{% for release in releases %}
			<li>
				<a href='{{ release.url }}'>
					{%
					set cover = release.cover is empty ?
					'/' ~ constant('ady\\changecover\\constant\\paths::STORE') ~ 'no-cover-med.jpg' :
					'/' ~ constant('ady\\changecover\\constant\\paths::COVERS_PATH') ~ '/' ~ release.cover
					%}
					<img src="{{ cover }}" alt="">
					<div class="release-cover-title">
						<div class="release-cover-background"></div>
						{% if constant('ady\\changecover\\constant\\sections::SECTION_LOGO')[release.section] %}
						<img src="/{{ constant('ady\\changecover\\constant\\paths::LOGOS') }}{{ constant('ady\\changecover\\constant\\sections::SECTION_LOGO')[release.section] }}.png"
							 alt="">
						{% endif %}
						<span>{{ release.title }}</span>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
	{% include 'pagination.html' %}
	{% elseif HOME is defined %}
	<div class='releases-home'>
		{% if YEARS is defined %}
		{% set current_year = 'now'|date('Y') %}
		{% for year, dates in YEARS %}
		<div class='container panel {% if year == current_year %}current-year{% else %}last-years{% endif %}'>
			<h5 id='{{ year }}'>{{ year }}</h5>
			<div id='container-{{ year }}'>
				{% for date in dates %}
				<a href='{{ path("ady_release_route") ~ "/" ~ date|date("Y/m") }}'>
					{{ lang('CHANGECOVER_' ~ date|date("F")|upper)|capitalize }}
				</a><br>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	{% else %}
	<h2>Aucune publication pour le {{ DATE }}</h2>
	{% include 'pagination.html' %}
	{% endif %}
</div>

<!-- INCLUDE overall_footer.html -->
<script>
	$('.container h5').click(function() {
		const year = $(this).attr('id');
		$('div#container-' + year).toggle('slow');
	});
</script>
