<!-- INCLUDE overall_header.html -->
{% INCLUDECSS '@ady_changecover/adychangecover-form.css' %}

<p class="adychangecover message-info panel">
	Pensez à regrouper vos publications lorsqu'il s'agit d'une même série. Vous pouvez soumettre une demande pour
	plusieurs numéros.
	<br>
	Cette V2 est en bêta. Si vous rencontrez des problèmes, merci de contacter Ady avec le maximum d'information.
	L'<a href="{{ path('ady_changecover_request') }}" style="color: lightblue !important">ancienne version</a>
	est toujours disponible et fonctionnelle.
</p>
<div class="adychangecover request panel">
	{% include 'checkbox-symbol.html' %}
	<form method="POST" action="" enctype="multipart/form-data" name="postform">
		<div class="panel bg1">
			<button class="button" id="reset" title="{{ lang('RESET') }}"><i class="fa fa-refresh"></i></button>
			<h2>Publication V2</h2>
			<hr>
			<div id="ady-js-vars" data-ady-token="{{ TOKEN }}" data-ady-date="{{ NOW }}"
				data-ady-search-users="{{ path('ady_changecover_api_search_users') }}"
				data-ady-search-series="{{ path('ady_changecover_api_search_series') }}"></div>
			<div class="row fields-container">
				<div class="main-fields-container">
					<div class="row center fields checkboxes">
						<div class="row center">
							<label for="publication-type">Première issue</label>
							<label class="switch">
								<input id="publication-type" name="publication-type" type="checkbox">
								<span class="slider round"></span>
							</label>
						</div>
						<div class="row center">
							<label for="publication-action">Publier le post</label>
							<label class="switch">
								<input id="publication-action" name="publication-action" type="checkbox">
								<span class="slider round"></span>
							</label>
						</div>
					</div>
					<h3 class="divider">Titre</h3>
					<div class="row fields">
						<div class="field serie-title">
							<div class="field" data-ady-pub-type="2">
								<label for="serie-title-autocomplete">Titre de la série<span
										aria-label="required">*</span></label>
								<div id="serie-title-input-container" class="field-row autocomplete-field-container">
									<div class="autocomplete-field">
										<input id="serie-title-autocomplete"
											   class="inputbox autowidth autocomplete"
											   type="text" value=""
											   placeholder="Recherche..."
											   autocomplete="off"
										>
									</div>
									<div class="show-results hidden"></div>
									<input id="serie-id" name="serie[id]" type="hidden" value="">
									<legend class="adychangecover message-info field-help">
										Recherchez une série dans l'index
									</legend>
								</div>
							</div>
							<div class="field" data-ady-pub-type="1">
								<label for="serie-title">Titre de la nouvelle série<span aria-label="required">*</span></label>
								<input id="serie-title"
								       class="inputbox autowidth"
									   type="text"
									   name="serie[title]"
									   placeholder="The Amazing Spider-Man (1963)"
								>
							</div>
						</div>
						<div class="field">
							<label for="comics-format">Format<span aria-label="required">*</span></label>
							<select id="comics-format" name="issue[format]" required>
								<option name="issue[format]" disabled selected data-ady-option-default value="">
									Choisir un format
								</option>
								<option name="serie[section]"
									value="{{ constant('ady\\changecover\\constant\\comicsFormats::ISSUE') }}">
									Issue
								</option>
								<option name="serie[section]"
									value="{{ constant('ady\\changecover\\constant\\comicsFormats::ONE_SHOT') }}">
									One Shot
								</option>
								<option name="serie[section]"
									value="{{ constant('ady\\changecover\\constant\\comicsFormats::ANNUAL') }}">
									Annual
								</option>
								<option name="serie[section]"
									value="{{ constant('ady\\changecover\\constant\\comicsFormats::TPB') }}">
									Trade Paperback
								</option>
							</select>
						</div>
						<div class="field to-be-validated">
							<label for="issue-number">Numéro<span aria-label="required">*</span></label>
							<input id="issue-number" class="inputbox autowidth" type="text" name="issue[number]"
								value="" placeholder="07; 23-25; 07,09-10" required>
							<span class="validation-error" aria-live="polite"></span>
							<!-- todo: add pattern to input -->
							<legend class="adychangecover message-info field-help">
								Seulement le ou les numéros
							</legend>
						</div>
						<div class="field">
							<label for="issue-title">Titre de l'issue</label>
							<input id="issue-title" class="inputbox autowidth" type="text" name="issue[title]" value=""
								placeholder="Absolute Carnage">
						</div>
					</div>
					<div class="row fields">
						<div class="field">
							<label for="preview-title">Prévisualisation du titre</label>
							<div id="preview-title" class="empty"><span class="text"></span></div>
						</div>
					</div>
					<h3 class="divider">Publication et index</h3>
					<div class="row fields">
						<div class="field" data-ady-pub-type="1">
							<label for="id-forum">Sous-forum<span aria-label="required">*</span></label>
							<select id="id-forum" name="serie[forum]" class="inputbox autowidth">
								{{ FORUM_SELECT }}
							</select>
						</div>
						<div class="field to-be-validated" data-ady-pub-type="1">
							<label for="url-cloud">
								Lien de partage (owncloud)<span aria-label="required">*</span>
							</label>
							<input id="url-cloud" class="inputbox autowidth" type="url" value="" name="serie[share]"
								placeholder="https://dl.dctrad.fr/s/Lox46DKZxA6zyhd">
							<i class="validation-icon fa fa-check-circle"></i>
							<span class="validation-error" aria-live="polite"></span>
						</div>
					</div>
					<div class="row fields">
						<div class="field">
							<label for="editor">Section<span aria-label="required">*</span></label>
							<select id="editor" name="editor" required>
								<option disabled selected data-ady-option-default value="">
									Choisir une section
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\sections::DC') }}">
									DC Rebirth
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\sections::HORSDC') }}">
									DC Hors Rebirth
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\sections::INDE') }}">
									Indépendant
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\sections::MARVEL') }}">
									Marvel
								</option>
							</select>
						</div>
						<div class="field">
							<label for="trad-status">Statut de la trad du projet<span
									aria-label="required">*</span></label>
							<select id="trad-status" name="serie[status]" required>
								<option value="{{ constant('ady\\changecover\\constant\\tradStatus::WIP') }}"
									data-ady-option-default selected>
									En cours
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\tradStatus::PAUSED') }}">
									En pause
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\tradStatus::ENDED') }}">
									Terminée
								</option>
								<option value="{{ constant('ady\\changecover\\constant\\tradStatus::ABANDONED') }}">
									Abandonnée
								</option>
							</select>
						</div>
					</div>
					<h3 class="divider">Publication du post</h3>
					<div class="row fields">
						<div class="field to-be-validated" data-ady-pub-type="4">
							<label for="serie-url">
								Lien du post<span aria-label="required">*</span>
							</label>
							<input id="serie-url" class="inputbox autowidth"
								type="url" value="" name="serie[url]"
								placeholder="https://dctrad.fr/viewtopic.php?t=18239"
							>
							<i class="validation-icon fa fa-check-circle"></i>
							<span class="validation-error" aria-live="polite"></span>
						</div>
					</div>
					<div class="row fields">
						<div class="field" data-ady-pub-type="3">
							<label for="trad">Trad</label>
							<div id="trad-input-container" class="field-row autocomplete-field-container">
								<div class="autocomplete-field">
									<input id="trad" class="inputbox autowidth autocomplete" type="text" value=""
										placeholder="Recherche..." autocomplete="off">
								</div>
								<div class="show-results"></div>
								<input id="team-trad" type="hidden" name="team[trad]" value="">
							</div>
						</div>
						<div class="field" data-ady-pub-type="3">
							<label for="c1">C1</label>
							<div id="c1-input-container" class="field-row autocomplete-field-container">
								<div class="autocomplete-field">
									<input id="c1" class="inputbox autowidth autocomplete" type="text" value=""
										placeholder="Recherche..." autocomplete="off">
								</div>
								<div class="show-results"></div>
								<input id="team-c1" type="hidden" name="team[c1]" value="">
							</div>
						</div>
						<div class="field" data-ady-pub-type="3">
							<label for="edit">Edit</label>
							<div id="edit-input-container" class="field-row autocomplete-field-container">
								<div class="autocomplete-field">
									<input id="edit" class="inputbox autowidth autocomplete" type="text" value=""
										placeholder="Recherche..." autocomplete="off">
								</div>
								<div class="show-results"></div>
								<input id="team-edit" type="hidden" name="team[edit]" value="">
							</div>
						</div>
						<div class="field" data-ady-pub-type="3">
							<label for="c2">C2</label>
							<div id="c2-input-container" class="field-row autocomplete-field-container">
								<div class="autocomplete-field">
									<input id="c2" class="inputbox autowidth autocomplete" type="text" value=""
										placeholder="Recherche..." autocomplete="off">
								</div>
								<div class="show-results"></div>
								<input id="team-c2" type="hidden" name="team[c2]" value="">
							</div>
						</div>
					</div>
					<div class="row fields">
						<div class="field" data-ady-pub-type="3">
							{% if S_BBCODE_ALLOWED %}
							<div class="row bbcode">
								{% INCLUDE 'posting_buttons.html' %}
							</div>
							{% endif %}
							<label for="description">Description</label>
							<textarea id="description" class="inputbox autowidth" name="message"></textarea>
							<legend class="adychangecover message-info field-help">
								Description à rajouter dans le post de la publication.
							</legend>
						</div>
					</div>
				</div>
				<div class="row fields">
					<div class="field cover-container uploader">
						<input id="file-upload" type="file" name="cover" accept="image/jpeg,image/png" required />
						<label for="file-upload" id="file-drag">
							<img id="file-image" src="#" alt="Preview" class="hidden">
							<div id="start">
								<i class="fa fa-download" aria-hidden="true"></i>
								<div>Sélectionnez une image ou glissez ici</div>
								<div id="notimage" class="hidden">Sélectionnez une image</div>
								<span id="file-upload-btn" class="btn btn-primary">Cover<span
										aria-label="required">*</span></span>
							</div>
							<div id="response" class="hidden">
								<div id="messages"></div>
							</div>
						</label>
					</div>
				</div>
			</div>
			<fieldset class='submit-buttons'>
				<input class="button1" type="submit" accesskey="s" tabindex="6" name="post"
					value="{{ lang('SUBMIT') }}" />
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</form>
</div>

{% INCLUDEJS 'adychangecover-comics-search.js' %}
<!-- INCLUDE overall_footer.html -->