<!-- INCLUDE overall_header.html -->

<p class="adychangecover message-info panel">
	Évitez de faire plusieurs demandes à la suite pour la même série. Faites la demande, de préférence, pour l'issue la
	plus récente. Laissons de la place pour tout le monde, évitons qu'il y ait deux issues de la même série à la suite.
	Faites attention à ce que la cover corresponde bien à sa section. En cas d'erreur, contactez un administrateur.
</p>
<div class="adychangecover request panel">
	{% include 'checkbox-symbol.html' %}
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="panel bg1">
			<h3>Publication</h3>
			<hr>
			<fieldset class="field1">
				<legend class="adychangecover message-info">
					Pour ajouter une ou plusieurs issues aux "Comics du mois", remplissez les champs ci-dessous. En cas
					de publication multiple, vous pouvez indiquer plusieurs numéros.
				</legend>
				<dl>
					<dt><label for="month_title">Titre</label></dt>
					<dd>
						<input id="month_title" class="inputbox autowidth" type="text" name="month[title]" value=""
							   placeholder="GreenArrow" required>
					</dd>
				</dl>
				<dl>
					<dt><label for="month_number">Numéro de l'issue</label></dt>
					<dd>
						<input id="month_number" class="inputbox autowidth" type="text" name="month[number]" value=""
							   placeholder="#23-#25">
					</dd>
				</dl>
			</fieldset>
			<fieldset class="field2">
				<dl>
					<dt><label for="header_url">URL de publication</label></dt>
					<dd>
						<input id="header_url" class="inputbox autowidth" type="url" name="header[url]" value=""
							   placeholder="https://dctrad.fr/viewtopic.php?f=259&t=15208" required>
					</dd>
				</dl>
				<dl>
					<dt><label for="header_cover">Cover</label></dt>
					<dd>
						<input type="hidden" name="MAX_FILE_SIZE" value="20971520">
						<input id="header_cover" class="inputbox file" type="file" name="cover"
							   accept="image/jpeg,image/png" required>
					</dd>
				</dl>
				<dl>
					<dt><label for="header_section">Section</label></dt>
					<dd>
						<select id="header_section" name="header[section]" required>
							<option name="header[section]" disabled selected value="">Choisir une section</option>
							<option name="header[section]"
									value="{{ constant('ady\\changecover\\constant\\sections::DC') }}"
							>
								DC Rebirth
							</option>
							<option name="header[section]"
									value="{{ constant('ady\\changecover\\constant\\sections::HORSDC') }}"
							>
								DC Hors Rebirth
							</option>
							<option name="header[section]"
									value="{{ constant('ady\\changecover\\constant\\sections::INDE') }}"
							>
								Indépendant
							</option>
							<option name="header[section]"
									value="{{ constant('ady\\changecover\\constant\\sections::MARVEL') }}"
							>
								Marvel
							</option>
						</select>
					</dd>
				</dl>
			</fieldset>
		</div>
		<div class="panel bg1">
			<h3>Index</h3>
			<hr>
			<fieldset class="field1">
				<legend class="adychangecover message-info">
					S'il s'agit d'une nouvelle série ou d'un one-shot, cochez la case ci-dessous pour l'ajouter à
					l'index du forum.
				</legend>
				<div class="checkbox-index">
					<input id="for_index"
						   class="checkbox-input approve"
						   type="checkbox"
						   name="index"
					>
					<label class="checkbox" for="for_index">
						<span>Index des comics</span>
						<span>
						  <svg width="12px" height="10px">
							<use xlink:href="#check"></use>
						  </svg>
						</span>
					</label>
				</div>
				<hr>
				<legend class="adychangecover message-info">
					Si vous rajoutez la série/one-shot à l'index, merci d'indiquer le statut de la trad pour le projet.
					Par exemple, pour une série en cours de trad : "En cours". Mais pour un one-shot, ou la soumission
					d'une série dans sa totalité : "Terminée".
				</legend>
				<dl>
					<dt><label for="trad_status">Statut de la trad</label></dt>
					<dd>
						<select id="trad_status" name="status">
							<option value="{{ constant('ady\\changecover\\constant\\tradStatus::WIP') }}" selected>En
								cours
							</option>
							<option value="{{ constant('ady\\changecover\\constant\\tradStatus::ENDED') }}">Terminée
							</option>
						</select>
					</dd>
				</dl>
			</fieldset>
		</div>
		<div class='panel bg1'>
			<div class='inner'>
				<fieldset class='submit-buttons'>
					<input class="button1" type="submit" accesskey="s" tabindex="6" name="post" value="Envoyer"/>
				</fieldset>
			</div>
		</div>
	</form>
</div>

<!-- INCLUDE overall_footer.html -->
