<!-- INCLUDE overall_header.html -->

<div class="adychangecover message_success panel">
	{% if SUCCESS == "sent" %}
	<p>Votre requête a bien été envoyée. Un administrateur doit encore la valider.</p>
	<a href="{{ CALLBACK }}">Retour</a>
	|
	{% elseif SUCCESS == "approved" %}
	<p>Header à jour.</p>
	{% if ERROR > 0 %}
	<p>
		Cepandant une erreur est survenue.<br>
		Merci de réessayer ou de contacter un administrateur.<br>
		Code erreur : {{ CODE }}{{ ERROR }}
	</p>
	{% endif %}
	{% endif %}
	<a href="/">Retour à l'accueil</a>
</div>

<!-- INCLUDE overall_footer.html -->
