<!-- INCLUDE overall_header.html -->

<div class="adychangecover tabnews-manage panel">
	<h2>Propositions de news</h2>
	{% for element in NEWS %}
	{% set selected = false %}
	{% if element.deleted_at == 0 and element.posted_at != 0 %}
	{% set selected = true %}
	{% endif %}
	<div class="news panel{{ selected ? ' selected' : '' }}">
		<div class="panel bg2">
			<div class="text">
				<div class="title">{{ element.title }}</div>
				<div class="description">{{ element.description }}</div>
			</div>
			<div class="cover">
				<img src="{{ '/' ~ constant('ady\\changecover\\constant\\paths::COVERS_PATH') ~ '/' ~ element.image }}" alt="cover">
			</div>
			<div class="information">
				<div class="created">Créée par {{ element.user }}<br>Le {{ element.created_at }}</div>
				{% set time = null %}
				{% if selected %}
				{% set time = date('now').diff(date(element.posted_at)) %}
				{% endif %}
				<div class="posted-at">Postée : {{ element.posted_at }}{% if time !== null %}<br>{{ time|date('%d') }}
					jour(s){% endif %}
				</div>
				<div class="deleted-at">Supprimée : {{ element.deleted_at }}</div>
				<div class="topic"><a href="{{ element.url }}" target="_blank"><i class="fa fa-external-link"></i> Topic</a>
				</div>
			</div>
			{% if A_NEWS_MANAGER %}
			<div class="actions">
				<a href="{{ path('ady_news_edit', {id: element.id}) }}" target="_blank">
					<input type="button" class="button1" value="Éditer">
				</a>
				<form method="POST" action="">
					<input type="hidden" name="news" value="{{ element.id }}">
					<input class="button2 remove-button" type="submit" accesskey="s" tabindex="6" name="remove"
						   value="Supprimer" onclick="return confirmIndexRemoval(this)"/>
					<input class="button1" type="submit" accesskey="s" tabindex="6" name="post" value="Envoyer"/>
				</form>
			</div>
			{% endif %}
		</div>
		{% if element.comment is not empty %}
		<div class="comment">Commentaire : {{ element.comment }}</div>
		{% endif %}
	</div>
	{% endfor %}
</div>

<!-- INCLUDE overall_footer.html -->
{% if A_NEWS_MANAGER %}
<script>
	function confirmIndexRemoval(form) {
		return confirm('Voulez-vous vraiment supprimer cette news ?');
	}
</script>
{% endif %}
