<!-- INCLUDE overall_header.html -->

<div class="adychangecover {% if NEWS is defined %}news-edit{% endif %} panel">
	<form method="POST" action="" enctype="multipart/form-data">
		<fieldset class="field1">
			<dl>
				<dt>
					<label for="tabnews_title">Titre (20 caractères max.)</label>
				</dt>
				<dd>
					<input id="tabnews_title" class="inputbox autowidth" type="text" name="tabnews[title]"
						   value="{{ NEWS ? NEWS.title }}" placeholder="GreenArrow" maxlength="20" required>
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="tabnews_description">Description</label>
				</dt>
				<dd>
				<textarea id="tabnews_description" class="inputbox autowidth" name="tabnews[description]" required>
					{{- NEWS ? NEWS.description -}}
				</textarea>
				</dd>
			</dl>
		</fieldset>
		<fieldset class="field2">
			<dl>
				<dt>
					<label for="tabnews_url">URL du topic</label>
				</dt>
				<dd>
					<input id="tabnews_url" class="inputbox autowidth" type="url" name="tabnews[url]"
						   value="{{ NEWS ? NEWS.url }}" placeholder="https://dctrad.fr/viewtopic.php?f=259&t=15208"
						   required>
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="tabnews_image">Image</label>
				</dt>
				<dd>
					<input type="hidden" name="MAX_FILE_SIZE" value="20971520">
					<input id="tabnews_image" class="inputbox file" type="file" name="image"
						   accept="image/jpeg,image/png"
						   {% if NEWS is not defined %}required{% endif %}
					>
				</dd>
			</dl>
			<dl>
				<dt>
					<label for="tabnews_comment">Commentaire à l'administrateur</label>
				</dt>
				<dd>
					<textarea id="tabnews_comment" class="inputbox autowidth" name="tabnews[comment]">{{ NEWS ? NEWS.comment }}</textarea>
				</dd>
			</dl>
		</fieldset>
		<div class='panel'>
			<div class='inner'>
				<fieldset class='submit-buttons'>
					<input class="button1" type="submit" accesskey="s" tabindex="6" name="post" value="Envoyer"/>
				</fieldset>
			</div>
		</div>
	</form>
	{% if NEWS is defined %}
	<div>
		<p>Image actuelle</p>
		<img src="{{ '/' ~ constant('ady\\changecover\\constant\\paths::COVERS_PATH') ~ NEWS.image }}" alt="image">
	</div>
	{% endif %}
</div>

<!-- INCLUDE overall_footer.html -->
