<div class="forabg">
	<div id="pettabs" class="indentmenu inner" data-ady-dctnews-slider="{{ S_TN_TYPE }}">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<ul>
						{% if S_TN_FACEBOOKPAGE %}
						<li>
							<dl class="row-item">
								<dt>
									<div class="list-inner">
										<a href="#" rel="dog1" class="tab selected">{{ TITLE_TAB1 }}</a>
									</div>
								</dt>
							</dl>
						</li>
						{% endif %}
						{% if S_TN_FIRSTPOST %}
						<li>
							<dl class="row-item">
								<dt>
									<div class="list-inner">
										<a href="#" rel="dog2">{{ TN_CODE_TAB }}</a>
									</div>
								</dt>
							</dl>
						</li>
						{% endif %}
						{% if ACTIVE_TAB3 %}
						<li>
							<dl class="row-item">
								<dt>
									<div class="list-inner">
										<a href="#" rel="dog3">{{ TITLE_TAB3 }}</a>
									</div>
								</dt>
							</dl>
						</li>
						{% endif %}
						{% if S_TN_FIRSTPOST4 %}
						<li>
							<dl class="row-item">
								<dt>
									<div class="list-inner">
										<a href="#" rel="dog4" id="myfavorite">{{ TN_CODE_TAB4 }}</a>
									</div>
								</dt>
							</dl>
						</li>
						{% endif %}
						{% if ACTIVE_TAB5 %}
						<li>
							<dl class="row-item">
								<dt>
									<div class="list-inner">
										<a href="#" rel="dog5">{{ TITLE_TAB5 }}</a>
									</div>
								</dt>
							</dl>
						</li>
						{% endif %}
						{% if ACTIVE_TAB6 %}
						<li>
							<dl class="row-item">
								<dt>
									<div class="list-inner">
										<a href="#" rel="dog6">{{ TITLE_TAB6 }}</a>
									</div>
								</dt>
							</dl>
						</li>
						{% endif %}
					</ul>
				</dl>
			</li>
		</ul>
	</div>
	<ul class="topiclist forums">
		{% if S_TN_FACEBOOKPAGE %}
		<li id="dog1" class="tabcontent">
			<div>{{ TABNEWS_URLPAGE }}</div>
		</li>
		{% endif %}
		{% if S_TN_FIRSTPOST %}
		<li id="dog2" class="tabcontent">
			<div>{{ TABNEWS2_URLPAGE }}</div>
		</li>
		{% endif %}
		{% if ACTIVE_TAB3 %}
		<li id="dog3" class="tabcontent">
			<div>{{ TABNEWS_TEXT }}</div>
		</li>
		{% endif %}
		{% if S_TN_FIRSTPOST4 %}
		<li id="dog4" class="tabcontent">
			<div>{{ TABNEWS4_URLPAGE }}</div>
		</li>
		{% endif %}
		{% if ACTIVE_TAB5 %}
		<li id="dog5" class="tabcontent">
			<div>{{ TABNEWS5_URLPAGE }}</div>
		</li>
		{% endif %}
		{% if ACTIVE_TAB6 %}
		<li id="dog6" class="tabcontent">
			<div>{{ TABNEWS6_URLPAGE }}</div>
		</li>
		{% endif %}
	</ul>
</div>
